@page
@model LeaderSurvey.Pages.LogoutModel
@{
    ViewData["Title"] = "Logged Out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out.</p>
    <p><a href="/Login">Log in again</a></p>
</header>